{% extends 'base.html.twig' %}

{% block title %} Update Profile {% endblock %}

{% block body %}
    <div class="container">
        <h1>Update your profile</h1>

        {{ form_start(form) }}

                {{ form_widget(form) }}

                <button type="submit" class="btn btn-primary mt-2">Save Updates</button>

        {{ form_end(form) }}

    </div>
{% endblock %}
