{% extends 'base.html.twig' %}

{% block title %}sign up {% endblock %}

{% block body %}
    <div class="container">
            <h1 class="h1 mt-5 mb-5">Create your account !</h1>

                {{ form_start(form) }}

                    {{ form_widget(form) }}

                    <button type="submit" class="btn btn-primary mt-2">Confirm subscription</button>

                {{ form_end(form) }}
    </div>
{% endblock %}


